= form_for @tournament do |f|
  - if @tournament.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:"
      %ul
        - @tournament.errors.full_messages.each do |message|
          %li= message

  = f.label :name
  = f.text_field :name

  = f.label :required_teams
  = f.number_field :required_teams

  = f.label :active
  = f.check_box :active

  %h3 Contestants
  #contestants
    = f.fields_for :contestants do |contestant|
      = render 'contestant_fields', f: contestant
    .links
      = link_to_add_association 'Add contestant', f, :contestants

  .actions
    = f.submit 'Save'
