%h1 Listing tournaments

%table
  %thead
    %tr
      %th Name
      %th Teams
      %th Active
      %th
      %th
      %th

  %tbody
    - @tournaments.each do |tournament|
      %tr
        %td= tournament.name
        %td= tournament.required_teams
        %td= tournament.active
        %td= link_to 'Phases', tournament_phases_path(tournament)
        %td= link_to 'Edit', edit_tournament_path(tournament)
        %td= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' }


%br

= link_to 'New Tournament', new_tournament_path
