= form_for [@tournament, @phase] do |f|
  - if @phase.errors.any?
    #error_explanation
      %h2= "#{pluralize(@phase.errors.count, "error")} prohibited this phase from being saved:"
      %ul
        - @phase.errors.full_messages.each do |message|
          %li= message

  = f.label :name
  = f.text_field :name

  = f.label :type
  = f.select :type, Phase::TYPES.map {|key, value| [ key.to_s.humanize, value ] }

  .actions
    = f.submit 'Save'
